<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.bumpbuster">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
	<application android:label="Bump Buster" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCLJ7L9tV2IDdUAqka8--XdKavbxGrv8-M" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
</manifest>